.MuiPaper-root,
.MuiTableCell-head {
  background-color: #f4fbfc !important;
}

.MuiTableHead-root .MuiTableCell-head {
  background-color: #0d5c63 !important;
  color: #ffffff !important;
  font-weight: 600 !important;
}

.MuiTableCell-head {
  font-weight: 600 !important;
}

.MuiTableCell-root {
  text-align: center !important;
  align-items: center !important;
}

.MuiTable-root tr td:last-child div {
  justify-content: center;
}
